textarea{
    resize: none;
}

hr{
    background-color: #DDD;
}

.white-border{
    border: 1px solid #dddddd;
}

body{
    background-color: #666666;
    font-family: 'Literata', serif;
    color: #DDD;
}

.bg-shadowblue{
    background-color: #16204D;
}

@media (max-width : 500px) {
    #subscribe{
        display: none;
    }
}